@layer utilities {
    /* flex row */
    .flex-row {
        @apply flex flex-row;
    }

    .flex-items-center {
        @apply flex flex-row items-center;
    }

    .flex-row-center {
        @apply flex flex-row items-center justify-center;
    }

    .flex-row-between {
        @apply flex flex-row items-center justify-between;
    }

    .flex-row-end {
        @apply flex flex-row items-center justify-end;
    }

    .flex-row-items-start {
        @apply flex flex-row items-start;
    }

    .flex-row-items-end {
        @apply flex flex-row items-end;
    }

    /* flex col */
    .flex-col {
        @apply flex flex-col;
    }

    .flex-col-center {
        @apply flex flex-col items-center justify-center;
    }

    .flex-col-between {
        @apply flex flex-col items-center justify-between;
    }

    .flex-col-end {
        @apply flex flex-col items-center justify-end;
    }

    .flex-col-items-start {
        @apply flex flex-col items-start;
    }

    .flex-col-items-end {
        @apply flex flex-col items-end;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* Card size presets */
    .card-size-sm {
        @apply  w-[280px] h-[240px] p-8 flex flex-col gap-3;
    }

    .card-size-md {
        @apply max-w-[580px] h-[180px] gap-7 p-8;
    }

    .card-size-lg {
        @apply max-w-[1180px] h-[180px] p-10;
    }

    .card-avatar-sm {
        @apply w-[60px] h-[60px];
    }

    .card-avatar-md {
        @apply w-[80px] h-[80px];
    }

    /* Project size presets */
    .project-size-sm {
        @apply w-[270px] h-[230px];
    }

    .project-size-md {
        @apply w-[540px] h-[200px];
    }

    .project-size-lg {
        @apply w-[1080px] h-[200px];
    }

}