@import "tailwindcss";
@import "./font.css";
@import "./theme.css";
@import "./custom-utilities.css";
@import "./reset.css";
@import "./tokens/common-card-theme.css";
@import "./tokens/common-badge-theme.css";
@import "./tokens/profile-card-theme.css";

@layer base {
    :root{
        --min-width: 390px;
        --max-width: 1440px;
        --font-pretendard:
                'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                'Helvetica Neue', Arial, sans-serif;
    }
    html, body {
        font-size: 62.5%;
        min-width: var(--min-width);
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        scroll-behavior: smooth;
        background-color: #191B1E;
    }

    #root {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-width: var(--min-width);
        max-width: var(--max-width);
        min-height: 100dvh;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    html[data-theme='light'],
    html[data-theme='light'] body {
        background-color: #FFFFFF;
    }
}