@theme {
    /* ===========================
       UI (다크모드 기본)
       =========================== */

    --ui-bg: #191B1E;
    --ui-50: #212328;
    --ui-100: #2F323A;
    --ui-200: #41444D;
    --ui-300: #606673;
    --ui-400: #7F8596;
    --ui-500: #939AAE;
    --ui-600: #9EA6BA;
    --ui-700: #D4DAE7;
    --ui-800: #F3F5FC;
    --ui-900: #F8F9FB;
    --ui-1000: #FFFFFF;

    /* ===========================
       Badge Tokens (다크모드)
       =========================== */

    --badge-text-primary: #7E7AFF;
    --badge-bg-primary: #1E1D4D;

    --badge-text-blue: #499FD4;
    --badge-bg-blue: #1C3341;

    --badge-text-green: #1D8C72;
    --badge-bg-green: #17342F;

    --badge-text-pink: #DB50B3;
    --badge-bg-pink: #352731;

    --badge-text-orange: #D98363;
    --badge-bg-orange: #463229;


    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* ===========================
             반응형 설정
       =========================== */

    --breakpoint-tablet: 744px;
    --breakpoint-phone: 390px;

    --breakpoint-tablet-max: 743px;
    --breakpoint-phone-max: 389px;
}

[data-theme='light'] {
    /* ===========================
       UI (라이트모드)
       =========================== */


    --ui-bg: #FFFFFF;
    --ui-50: #F8F9FB;
    --ui-100: #F3F5FC;
    --ui-200: #D4DAE7;
    --ui-300: #9EA6BA;
    --ui-400: #939AAE;
    --ui-500: #7F8596;
    --ui-600: #606673;
    --ui-700: #41444D;
    --ui-800: #2F323A;
    --ui-900: #212328;
    --ui-1000: #191B1E;

    /* ===========================
       Badge Tokens (라이트모드)
       =========================== */

    --badge-text-primary: #4E49FF;
    --badge-bg-primary: #EEEDFF;

    --badge-text-blue: #499FD4;
    --badge-bg-blue: #EEF9FF;

    --badge-text-green: #1D8C72;
    --badge-bg-green: #F5FFFD;

    --badge-text-pink: #DB50B3;
    --badge-bg-pink: #FFF0FB;

    --badge-text-orange: #D98363;
    --badge-bg-orange: #FFF4F0;
}


@layer utilities {
    .Display1 {
        font-family: var(--font-pretendard);
        font-size: 5.6rem;
        line-height: 128.6%;
        letter-spacing: -0.0319em;
    }

    .Title1 {
        font-family: var(--font-pretendard);
        font-size: 3.6rem;
        line-height: 133.4%;
        letter-spacing: -0.027em;
    }

    .Title2 {
        font-family: var(--font-pretendard);
        font-size: 2.8rem;
        line-height: 135.8%;
        letter-spacing: -0.0236em;
    }

    .Title3 {
        font-family: var(--font-pretendard);
        font-size: 2.4rem;
        line-height: 133.4%;
        letter-spacing: -0.023em;
    }

    .Heading2 {
        font-family: var(--font-pretendard);
        font-size: 2.0rem;
        line-height: 140%;
        letter-spacing: -0.012em;
    }

    .Headline1 {
        font-family: var(--font-pretendard);
        font-size: 1.8rem;
        line-height: 144.5%;
        letter-spacing: -0.002em;
    }

    .Body1 {
        font-family: var(--font-pretendard);
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: 0.0057em;
    }

    .Label1 {
        font-family: var(--font-pretendard);
        font-size: 1.4rem;
        line-height: 142.9%;
        letter-spacing: 0.0145em;
    }

    .Caption1 {
        font-family: var(--font-pretendard);
        font-size: 1.2rem;
        line-height: 133.4%;
        letter-spacing: 0.0252em;
    }

    :lang(en) .Display1,
    :lang(en) .Title1,
    :lang(en) .Title2,
    :lang(en) .Title3,
    :lang(en) .Heading2,
    :lang(en) .Headline1,
    :lang(en) .Body1,
    :lang(en) .Label1,
    :lang(en) .Caption1 {
        font-weight: 500;
    }
}
